<div id="mainheader">
	<span id="mainlogo">Best<span id="champ">Champion</span>NA</span>
	<nav id="headernav">
		<%= link_to 'LeaderBoards', leaderboards_path %>
		<%= link_to 'Tournaments', tournaments_path %>
		<%= link_to 'Highlights', highlights_path %>
		<%= link_to 'Charities', charities_path %>
		<%= link_to 'About', about_path %>
		<%= link_to 'Contact', contact_path %>
	</nav>
</div>