<div id="mainheader">
	<div id="content">
		<span id="mainlogo">
			<a href="/">Best<span id="champ">Champion</span>NA</a>
		</span>
		<nav id="headernav">
			<%= link_to 'Charities', charities_path %>
			<%= link_to 'Sponsors', charities_path %>
			<%= link_to 'About', about_path %>
			<%= link_to 'Contact', contact_path %>
		</nav>
	</div>
</div>


<div id="content">
	<div id="secondheaderbox">
	</div>

	<img src="/kass.png" id="mascot">

	<nav id="secondheadernav">
			<%= link_to 'Schedules', schedules_path %>
			<%= link_to 'Tournaments', tournaments_path %>
			<%= link_to 'Rules', rules_path %>
			<%= link_to 'Standings', standings_path %>
			<%= link_to 'Highlights', highlights_path %>
	</nav>
</div>