<div id="mainheader">
	<div id="content">
		<nav id="socialmedia">
			<a href="https://www.facebook.com" ><img class="hicon" src="facebook.png"></a>
			<a href="https://www.twitter.com" ><img class="hicon" src="twitter.png"></a>
			<a href="/"><img class="hicon" src="search.png"></a>
		</nav>
		<nav id="headernav">
			<%= link_to 'Charities', charities_path %>
			<%= link_to 'Sponsors', charities_path %>
			<%= link_to 'About', about_path %>
			<%= link_to 'Contact', contact_path, :style => "border-right: none;" %>
		</nav>
	</div>
</div>


	<div id="secondheaderbox">
	<div id="content">
		<div id="headlogobox">
		<span id="mainlogo">
			<a href="/">Best<span id="headchamp">Champion</span>NA</a>
		</span>
		</div>

	<nav id="secondheadernav">
			<%= link_to 'Schedules', schedules_path %>
			<%= link_to 'Tournaments', tournaments_path %>
			<%= link_to 'Rules', rules_path %>
			<%= link_to 'Standings', standings_path %>
			<%= link_to 'Highlights', highlights_path %>
	</nav>
	</div>
	</div>